* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-chv.chv.lexc -text
/apertium-chv.chv.rlx -text
/apertium-chv.chv.twol -text
/apertium-chv.pc.in -text
/apertium-chv.post-chv.dix -text
/autogen.sh -text
/chv.prob -text
/configure.ac -text
dev/countstems.sh -text
dev/editdist.py -text
dev/spellrelax.twol -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/a_0.yaml -text
tests/check_pass.sh -text
tests/cv-nouns.yaml -text
tests/cv-possessives.yaml -text
tests/cv-runouns.yaml -text
tests/fail/a_0.yaml -text
tests/fail/cv-nouns.yaml -text
tests/fail/cv-possessives.yaml -text
tests/fail/cv-runouns.yaml -text
tests/fail/ger1.yaml -text
tests/fail/gna10.yaml -text
tests/fail/todo.yaml -text
tests/fail/v_кала_del.yaml -text
tests/fail/v_кил_del.yaml -text
tests/fail/wiki.yaml -text
tests/fail/wiki_curt.yaml -text
tests/fail/Золотницкий.yaml -text
tests/fail/Турку.yaml -text
tests/fail/автан.yaml -text
tests/fail/атте.yaml -text
tests/fail/барокко.yaml -text
tests/fail/звено.yaml -text
tests/fail/информаци.yaml -text
tests/fail/июль.yaml -text
tests/fail/июнь.yaml -text
tests/fail/кенгуру.yaml -text
tests/fail/кино.yaml -text
tests/fail/лаша.yaml -text
tests/fail/литература.yaml -text
tests/fail/министерство.yaml -text
tests/fail/пальто.yaml -text
tests/fail/пенсионер.yaml -text
tests/fail/радио.yaml -text
tests/fail/ту.yaml -text
tests/fail/у[!!-~]harmony.yaml -text
tests/fail/хӑю.yaml -text
tests/fail/хӗв.yaml -text
tests/gen_yaml_mot.sh -text
tests/ger1.yaml -text
tests/gna10.yaml -text
tests/pass/вӑйӑ.yaml -text
tests/pass/йӗп.yaml -text
tests/pass/пуртӑ.yaml -text
tests/pass/утӑ.yaml -text
tests/pass/чикӗ.yaml -text
tests/pass/шӑши.yaml -text
tests/prn_dem.txt -text
tests/v_кала_del.yaml -text
tests/v_кил_del.yaml -text
tests/wiki.yaml -text
tests/wiki_curt.yaml -text
tests/Золотницкий.yaml -text
tests/Турку.yaml -text
tests/автан.yaml -text
tests/атте.yaml -text
tests/барокко.yaml -text
tests/вӑйӑ.yaml -text
tests/звено.yaml -text
tests/информаци.yaml -text
tests/июль.yaml -text
tests/июнь.yaml -text
tests/йӗп.yaml -text
tests/кенгуру.yaml -text
tests/кино.yaml -text
tests/лаша.yaml -text
tests/литература.yaml -text
tests/министерство.yaml -text
tests/пальто.yaml -text
tests/пенсионер.yaml -text
tests/пуртӑ.yaml -text
tests/радио.yaml -text
tests/ту.yaml -text
tests/у[!!-~]harmony.yaml -text
tests/утӑ.yaml -text
tests/училище.yaml -text
tests/хӑю.yaml -text
tests/хӗв.yaml -text
tests/чикӗ.yaml -text
tests/чӗрӗп.yaml -text
tests/шӑши.yaml -text
